root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{yml,yaml,json,md}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{iss,ps1,cmd,bat}]
end_of_line = crlf

[*.cs]
# Estilo del lenguaje
csharp_using_directive_placement = outside_namespace:warning
csharp_style_namespace_declarations = file_scoped:warning
csharp_prefer_braces = true:warning
csharp_style_var_for_built_in_types = false:suggestion
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_sort_system_directives_first = true

# Nombres
dotnet_naming_rule.constantes_pascal.severity = warning
dotnet_naming_rule.constantes_pascal.symbols = constantes
dotnet_naming_rule.constantes_pascal.style = pascal
dotnet_naming_symbols.constantes.applicable_kinds = field
dotnet_naming_symbols.constantes.required_modifiers = const
dotnet_naming_style.pascal.capitalization = pascal_case
